Source: astlib
Section: python
Priority: extra
Maintainer: Gijs Molenaar <gijs@pythonic.nl>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: http://astlib.sourceforge.net/

Package: astlib
Architecture: any
Depends: ${python:Depends}, ${misc:Depends}
Description:  provides some tools for research astronomers.
